BROWSER_LAUCH_HEADLESS=False

DB_DIALECT='postgresql'
DB_DRIVER='psycopg'
DB_USER='example_user'
DB_PASS='example_password'
DB_HOST='localhost'
DB_NAME='hm_scraper_db'
DB_PORT='5432'
DB_CONNECTION_TIMEOUT=4

DOCKER_COMMAND_FOR_CREATING_POSTGRE_CONTAINER="
docker run -d `
  --name postgre_hm_scraper `
  -e POSTGRES_USER=example_user `
  -e POSTGRES_PASSWORD=example_password `
  -e POSTGRES_DB=hm_scraper_db `
  -p 5432:5432 `
  postgres
"